@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
  margin: 0;
  font-family: 'Sarabun', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-item-active {
  background-color: #374151;
  border-left: 4px solid #3b82f6;
  color: white;
}

.menu-link {
  transition: all 0.2s;
  cursor: pointer;
}

.menu-link:hover {
  background-color: #4b5563;
}

.inspect-tab {
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
}

.inspect-tab-active {
  border-bottom: 3px solid #3b82f6;
  color: #3b82f6;
  font-weight: 900;
}

.tab-active {
  background-color: #2563eb !important;
  color: white !important;
}

.inspect-tab-correct-active {
  border-bottom: 3px solid #10b981;
  color: #10b981;
  font-weight: 900;
}
